.home {
    background-image: url("https://www.edunexttechnologies.com/images/edunext-school-erp.png");
    height: 700px;
    width:auto;
    font-size: large;
   
}
.home_h1
{font-size: large;
     font-family:Times New Roman', Times, serif ';
    font-size: 100px;
      color:white;

      
}
.ho{
font-family: cursive;
text-align: center;

}